<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<head th:replace="~{fragments :: page_head(${pageTitle}, 'none')}"/>
	<link rel="stylesheet" th:href="@{/richtext/richtext.min.css}" />
	<script th:src="@{/richtext/jquery.richtext.min.js}"></script>
</head>
<body>
<div class="container-fluid">
	<div th:replace="~{navigation :: menu}"></div>
	
	<div>
		<h2>Manage Products | [[${pageTitle}]]</h2>
	</div>
	
	<form th:action="@{/products/save}" method="post" 
		th:object="${product}" enctype="multipart/form-data"
		onsubmit="return checkNameUnique(this)">
		<input type="hidden" th:field="*{id}" id="id"/>
		<ul class="nav nav-tabs" id="myTab" role="tablist">
		  <li class="nav-item">
		    <a class="nav-link active"  data-bs-toggle="tab" href="#overview" role="tab">Overview</a>
		  </li>
		  
		  <li class="nav-item">
		    <a class="nav-link"  data-bs-toggle="tab" href="#description" role="tab">Description</a>
		  </li>
		  
		   <li class="nav-item">
		    <a class="nav-link"  data-bs-toggle="tab" href="#image" role="tab">Image</a>
		  </li>
		  
		  <li class="nav-item">
		    <a class="nav-link"  data-bs-toggle="tab" href="#shipping" role="tab">Shipping</a>
		  </li>
		</ul>
		
		<div class="tab-content" id="myTabContent">
		  <div class="tab-pane fade show active" id="overview" role="tabpanel" >
		  		<div th:replace = "~{products/product_overview :: content}"></div>
		  </div>
		
		  <div class="tab-pane fade" id="description" role="tabpanel" >
		  		<div th:replace="~{products/product_description :: content}"></div>
		  </div>
		  <div class="tab-pane fade" id="image" role="tabpanel" >
		  		<div th:replace = "~{products/product_images :: content}"></div>
		  </div>
		  <div class="tab-pane fade" id="shipping" role="tabpanel" >
		  		<div th:replace="~{products/product_shipping :: content}"></div>
		  </div>
		</div>

	</form>	
		
	<div th:replace="~{fragments :: footer}"></div>
		<div th:replace="~{modal_fragments :: modal_dialog}"></div>
</div>
<script type="text/javascript" >
MAX_FILE_SIZE = 502400;
moduleURL = "[[@{/products}]]";

brandModuleURL = "[[@{/brands}]]";

checkUniqueURL = "[[@{/products/check_unique}]]";
</script>
<script th:src="@{/js/common_form.js}"></script>
	
<script th:src="@{/js/product_form.js}"></script>
</body>
</html>