<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: page_head('Manage Categories')}"></head>
<body>
<div class="container-fluid">
	<div th:replace="~{navigation :: menu}"></div>
	
	<div>
		<h2>Manage Categories</h2>
	</div>
	
	<div th:if="${message != null}" class="alert alert-success text-center">
		[[${message}]]
	</div>
	
	<div th:replace="~{fragments :: search_bar('/categories')}"></div>
	
	<div th:replace="~{fragments :: new-export('/categories')}"></div>
	
	<div class="full-details">
		<table class="table table-responsive-xl table-bordered table-striped table-hover">
			<thead class="table-dark"> 
				<tr>
					<th>ID</th>
					<th>Category Image</th>
					<th>
						<a class="text-white" th:href="@{'/categories/page/' + ${pageNum} + '?sortDir=' + ${reverseSortDir}}">Category Name</a>
						<span th:class="${reverseSortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"></span>
					</th>
					<th class="hideable-column">Alias</th>
					<th>Enabled</th>
					<th> </th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="category : ${listCategories}"> 
					<td>[[${category.id}]]</td>
					<td>
						<img th:src="@{${category.getImagePath}}" style="width: 100px"/>
					</td>
					<td>[[${category.name}]]</td>
					<td class="hideable-column">[[${category.alias}]]</td>
					<td>
						<div th:replace="~{fragments :: status(${category.enabled}, 'category', '/categories/' + ${category.id})}">
						</div>
					</td>
					<td>
						<div th:replace="~{fragments :: edit('category', '/categories/edit/' + ${category.id})}"></div>
						&nbsp;
						<div th:replace="~{fragments :: delete('category', ${category.id}, '/categories/delete/' + ${category.id}, ${!category.hasChildren})}"></div>
					 </td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="less-details">
		<div th:each="category : ${listCategories}" class="row m-1">
			<div class="col-4">
				<img th:src="@{${category.getImagePath}}" style="width: 100px"/>
			</div>
			
			<div class="col-8">
				<div>[[${category.name}]]</div>
				<div >
					<div th:replace="~{fragments :: status(${category.enabled}, 'category', '/categories/' + ${category.id})}"></div>
					&nbsp;
					<div th:replace="~{fragments :: edit('category', '/categories/edit/' + ${category.id})}"></div>
					&nbsp;
					<div th:replace="~{fragments :: delete('category', ${category.id}, '/categories/delete/' + ${category.id}, ${!category.hasChildren})}"></div>
				</div>
			</div>
		</div> 
	</div>
	
	<div th:replace="~{modal_fragments :: modal_dialog}"></div>
	
	<div th:replace="~{fragments :: pagination('/categories', 'category')}"></div>
	
	<div th:replace="~{fragments :: footer}"></div>
</div>
</body>

<script type="text/javascript">

	function clearSearch() { 
		window.location = "[[@{/categories}]]"
	}
</script>
</html>