<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: page_head('Manage Categories')}"></head>
<body>
	<div th:replace="~{navigation :: menu}"></div>
	
	<div>
		<h2>Manage Categories</h2>
	</div>
	
	<div th:if="${message != null}" class="alert alert-success text-center">
		[[${message}]]
	</div>
	
	<div>
		<form th:action="@{/categories/page/1}" class="form-inline m-3">
			<input type="hidden" name="sortField" th:value="${sortField}"/>
			<input type="hidden" name="sortDir" th:value="${sortDir}"/>
			Search:&nbsp;
			<input type="search" name="keyword" th:value="${keyword}" class="form-control" required>
			&nbsp;&nbsp;
			<input type="submit" value="Search" class="btn btn-primary"/>
			&nbsp;&nbsp;
			<input type="button" value="Clear" class="btn btn-secondary" onclick="clearSearch()"/>
		</form>
	</div>
	
	
	<div>
		<a th:href="@{/categories/new}"><i class="fa fa-plus fa-2x icon-silver"></i></a>
		&nbsp;|&nbsp;
		<a th:href="@{/categories/export/csv}"><i class="fa fa-file-csv fa-2x icon-silver"></i></a>
		&nbsp;|&nbsp;
		<a th:href="@{/categories/export/excel}"><i class="fa fa-file-excel fa-2x icon-silver"></i></a>
		&nbsp;|&nbsp;
		<a th:href="@{/categories/export/pdf}"><i class="fa fa-file-pdf fa-2x icon-silver"></i></a>
	</div>
	
	<div>
		<table class="table table-responsive-xl table-bordered table-striped">
			<thead class="table-dark"> 
				<tr>
					<th>ID</th>
					<th>Category Image</th>
					<th>
						<a class="text-white" th:href="@{'/categories?sortDir=' + ${reverseSortDir}}">Category Name</a>
						<span th:class="${reverseSortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"></span>
					</th>
					<th>Alias</th>
					<th>Enabled</th>
					<th> </th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="category : ${listCategories}"> 
					<td>[[${category.id}]]</td>
					<td>
						<img th:src="@{${category.getImagePath}}"/>
					</td>
					<td>[[${category.name}]]</td>
					<td>[[${category.alias}]]</td>
					<td>
						<a th:if="${category.enabled == true}"
							th:href="@{'/categories/' + ${category.id} + '/enabled/false'}">
							<i class="fas fa-circle-check fa-2x icon green"></i>
						</a>
						
						<a th:if="${category.enabled != true}"
							th:href="@{'/categories/' + ${category.id} + '/enabled/true'}">
							<i class="fas fa-circle-check fa-2x icon-silver"></i>
							</a>
							
					</td>
					<td>
						<a th:href="@{'/categories/edit/' + ${category.id}}">
							<i class="fa fa-2x fa-pen-to-square icon-green"></i>
						</a>
						&nbsp;
						<a th:href="@{'/categories/delete/' + ${category.id}}" class="delete-category"  th:categoryId="${category.id}">
							<i class="fa fa-2x fa-trash icon-silver"></i>
						</a>
					 </td>
				</tr>
			</tbody>
		</table>
	</div>
	
	
	<div class="modal fade text-center" id="modalDialog">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="modalTitle">Modal title</h5>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
	        <h6 class="modal-title" id="modalBody">Modal Body</h6>
	      </div>	
	      <div class="modal-footer">
	         <a class="btn btn-success" href="" id="yesButton">Yes</a>
	         <button type="button" class="btn btn-warning" data-bs-dismiss="modal">No</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	
	<div th:replace="~{fragments :: footer}"></div>
</body>

<script type="text/javascript">
$(document).ready(function(){
	$(".delete-category").on("click", function(e){
		e.preventDefault();
		link = $(this);
		categoryId = link.attr("categoryId"); 		
		$("#yesButton").attr("href", link.attr("href"));
		$("#modalBody").text("Are you sure you want to delete this category ID " + categoryId + " ?");
		let myModal = new bootstrap.Modal(document.getElementById('modalDialog'));
		myModal.show();
	});
});

	function clearSearch() { 
		window.location = "[[@{/categories}]]"
	}
</script>
</html>