<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments :: page_head('Manage User')}"></head>
<body>
<div class="container-fluid">

<div th:replace="~{navigation :: menu}"></div>

	<div>
		<h2>Manage Users</h2>
	</div>
	
	<div th:if="${message != null}" class="alert alert-success text-center">
		[[${message}]]
	</div>
	
	<div th:replace="~{fragments :: search_bar('/users')}"></div>
	
	<div th:replace="~{fragments :: new-export('/users')}"></div>
	
	<div class="full-details">
		<table class="table  table-bordered table-striped table-hover table-responsive-xl">
			<thead class="table-dark"> 
				<tr>
					<th class="hideable-column">
						<th th:replace="~{fragments :: column_link('/users','id','User ID','tag')}" />
					</th>
					
					<th>Photos</th>
					
					<th class="hideable-column">
						<th th:replace="~{fragments :: column_link('/users','email','Email','tag')}" />
					</th>
					
					<th th:replace="~{fragments :: column_link('/users','firstName','First name','none')}" />
					<th th:replace="~{fragments :: column_link('/users','lastName','Last name','none')}" />
					<th>Roles</th>
					<th th:replace="~{fragments :: column_link('/users','enabled','Enabled','none')}" />
						
					<th> </th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="user : ${listUsers}"> 
					<td class="hideable-column">[[${user.id}]]</td>
					<td>
						<span th:if="${user.photos == null}"  class="fa fa-portrait fa-3x"></span>
						<img th:if="${user.photos != null}" th:src="@{${user.getPhotosImagePath}}" style="width: 100px">
					</td>
					<td>[[${user.email}]]</td>
					<td>[[${user.firstName}]]</td>
					<td>[[${user.lastName}]]</td>
					<td>[[${user.roles}]]</td>
					<td>
						<div th:replace="~{fragments ::status(${user.enabled}, 'user', '/users/' + ${user.id})}"></div>
					</td>
					<td>
						<div th:replace="~{fragments :: edit('user', '/users/edit/' + ${user.id})}"></div>
						<div th:replace="~{fragments :: delete('user', ${user.id},'/users/delete/' + ${user.id} , true)}"></div>	
					 </td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="less-details">
		<div th:each="user : ${listUsers}" class="row m-1">
			<div class="col-4">
				<span th:if="${user.photos == null}"  class="fa fa-portrait fa-3x"></span>
				<img th:if="${user.photos != null}" th:src="@{${user.getPhotosImagePath}}"
					style="width: 100px"/>
			</div>
			
			<div class="col-8">
				<div>[[${user.fullName}]]</div>
				<div>[[${user.roles}]]</div>
				<div>
					<div th:replace="~{fragments ::status(${user.enabled}, 'user', '/users/' + ${user.id})}"></div>
					&nbsp;
					<div th:replace="~{fragments :: edit('user', '/users/edit/' + ${user.id})}"></div>
					&nbsp;
					<div th:replace="~{fragments :: delete('user', ${user.id},'/users/delete/' + ${user.id} , true)}"></div>
				</div>
			</div>
		</div>
	</div>
	
	<div th:replace="~{fragments :: pagination('/users', 'user')}"></div>
	
	<div th:replace="~{modal_fragments :: modal_dialog}"></div>
	
	<div th:replace="~{fragments :: footer}"></div>
</div>	
<script type="text/javascript">
	
	function clearSearch() { 
		window.location = "[[@{/users}]]"
	}
</script>
</body>
</html>